.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.livingroom{
  background-color: #EFE7BC;
  
}
.kitchen {
  display: flex;
  justify-content: right;
  background-color: #FFA384

}
.sink{
  display: flex;
  justify-content: flex-start;
  background-color: #B5E5CF;
}
.oven {
  background-color: #543855;
  color: #EFE7BC;
}

.bedroom {
  background-color: #658EA9;
}
.bath {
  background-color: #74BDCB;
}